{% load staticfiles %}
<!doctype html>
<html class="x-admin-sm">

<head>
    <meta charset="UTF-8">
    <title>用户注册-医院数据管理系统</title>
    <meta name="renderer" content="webkit|ie-comp|ie-stand">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport"
        content="width=device-width,user-scalable=yes, minimum-scale=0.4, initial-scale=0.8,target-densitydpi=low-dpi" />
    <meta http-equiv="Cache-Control" content="no-siteapp" />
    <link rel="stylesheet" href="{% static 'css/font.css' %}">
    <link rel="stylesheet" href="{% static 'css/login.css' %}">
    <link rel="stylesheet" href="{% static 'css/xadmin.css' %}">
    <script type="text/javascript" src="https://cdn.bootcss.com/jquery/3.2.1/jquery.min.js"></script>
    <script src="{% static 'lib/layui/layui.js' %}" charset="utf-8"></script>
    <!--[if lt IE 9]>
      <script src="https://cdn.staticfile.org/html5shiv/r29/html5.min.js"></script>
      <script src="https://cdn.staticfile.org/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>

<body class="login-bg">
    <!-- 顶部开始 -->
    <div class="container">
        <div class="logo">
            <a href="./index">医院数据管理系统</a></div>
        <ul class="layui-nav right" lay-filter="">
            <li class="layui-nav-item">
                <a href="login">用户登陆</a>
            </li>
            <li class="layui-nav-item to-index">
                <a href="/">首页</a></li>
        </ul>
    </div>

    <div class="login layui-anim layui-anim-up">
        <div class="message">用户注册</div>
        <div id="darkbannerwrap"></div>
        <form method="post" class="layui-form layui-form-pane">
            {% csrf_token %}
            <input type="text" placeholder="用户名" name="username" class="form-control" maxlength="128" required
                id="id_username" lay-verify="required">
            <hr class="hr15">
            <select name="attr" required id="id_attr" lay-verify="required">
                <option value="" selected="">请选择部门</option>

                <option value="医疗部">医疗部</option>

                <option value="门诊部">门诊部</option>

                <option value="住院部">住院部</option>

                <option value="医务部">医务部</option>

                <option value="护理部">护理部</option>

                <option value="住院部">住院部</option>

                <option value="院长">院长</option>

            </select>
            <div class="layui-unselect layui-form-select layui-form-selected">
                <div class="layui-select-title"><input type="text" placeholder="请选择部门" value="" readonly=""
                        class="layui-input layui-unselect"><i class="layui-edge"></i></div>
                <dl class="layui-anim layui-anim-upbit" style="">
                    <dd lay-value="" class="layui-select-tips">请选择部门</dd>
                    <dd lay-value="医疗部" class="">医疗部</dd>
                    <dd lay-value="门诊部" class="">门诊部</dd>
                    <dd lay-value="住院部" class="layui-this">住院部</dd>
                    <dd lay-value="医务部" class="">医务部</dd>
                    <dd lay-value="护理部" class="">护理部</dd>
                    <dd lay-value="住院部" class="">住院部</dd>
                    <dd lay-value="院长" class="">院长</dd>
                </dl>
            </div>
            <hr class="hr15">
            <input type="password" placeholder="密码" name="password1" class="form-control" maxlength="256"
                lay-verify="required" id="id_password1">
            <hr class="hr15">
            <input type="password" placeholder="确认密码" name="password2" class="form-control" maxlength="256"
                lay-verify="required" id="id_password2">
            <hr class="hr15">
            <input type="email" placeholder="邮箱地址" name="email" lay-verify="email" class="form-control" required
                id="id_email">
            <hr class="hr15">
            <input value="注册" lay-submit lay-filter="register" style="width:100%;" type="submit">
            <hr class="hr20">
        </form>
    </div>

    <script>
        $(function () {
            layui.use('form', function () {
                var form = layui.form;

                //监听提交
                form.on('submit(register)', function (data) {
                    $.ajax({
                        url: '/register',
                        data: data.field,
                        dataType: 'text',
                        type: 'post',
                        success: function (data) {
                            console.log(data);
                            data = JSON.parse(data);
                            layer.msg(data["msg"]);
                            if (data["code"] == '0') {
                                setTimeout(() => {
                                    location.href = "/login";
                                }, 1000);

                                return true;
                            }
                            return false;
                        }
                    })
                    return false;
                });
            });
        })
    </script>

</body>